* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background: #b28768;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #b28768;
    font-weight: 600;
    border-bottom: 1px solid #b28768;
    padding-bottom: 35px;
}
.quiz{
    padding: 25px 0;
}
.quiz h2{
    font-size: 18px;
    color:black;
    font-weight: 600;
}
.btn {
    background: #fff;
    color:#222;
    font-weight: 600;
    width: 100%;
    border: 1px solid #b28768;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background:#b28768;
    color:#fff;
    font-weight: 500;
    width: 125px;
    border:0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.correct{
    background-color: #9aeabc;
}
.incorrect{
    background-color: #ff9393;
}